
@{
    ViewBag.Title = "Dashboard";
}

<!-- page content -->
<div class="right_col" role="main" id="dash">
    <div class="">
        <div class="row top_tiles">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="@Url.Action("List", "DriverConductor")">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-user"></i></div>
                        <div class="count">{{ wighet.driverCount}}</div>
                        <h3>Driver/ Conductor</h3>
                        <p>driver conductor details</p>
                    </div>
                </a>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="@Url.Action("Panalties", "DriverConductor")">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-comments-o"></i></div>
                        <div class="count">-</div>
                        <h3>Panalties</h3>
                        <p>Monthly Panalties.</p>
                    </div>
                </a>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="@Url.Action("PublicNotice", "DriverConductor")">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-sticky-note-o"></i></div>
                        <div class="count">-</div>
                        <h3>Notice</h3>
                        <p>General Notice.</p>
                    </div>
                </a>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-line-chart"></i></div>
                    <div class="count">4</div>
                    <h3>Charts</h3>
                    <p>NTC Charts</p>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Driver <small></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>                            
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <div class="row top_tiles" style="margin: 10px 0;">
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon"><i class="fa fa-users"></i></div>
                                    <div class="count">0</div>

                                    <h3></h3>
                                    <p>Red Notice Drivers.</p>
                                </div>
                            </div>
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon"><i class="fa fa-user-secret"></i></div>
                                    <div class="count">0</div>

                                    <h3></h3>
                                    <p>Highest Number of Complains.</p>
                                </div>
                            </div>
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon"><i class="fa fa-user-plus"></i></div>
                                    <div class="count">0</div>

                                    <h3></h3>
                                    <p>Highest Number of Points.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row top_tiles" style="margin: 10px 0;">
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon"><i class="fa fa-user"></i></div>
                                    <div class="count">0</div>
                                    <p>Best Driver of the Months.</p>
                                    <input id="driverMonth" type="text" placeholder="MM/DD/YYYY" class="form-control fc-datepicker hasDatepicker" />
                                    <br />
                                    <div class="col-md-6 pull-left">
                                        <a class="btn btn-primary btn-sm">Go</a>
                                    </div>                                    
                                </div>
                            </div>

                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon"><i class="fa fa-user"></i></div>
                                    <div class="count">0</div>
                                    <p>Best Driver of the Year.</p>
                                    <input id="driverYear" type="text" placeholder="MM/DD/YYYY" class="form-control fc-datepicker hasDatepicker" />
                                    <br />
                                    <div class="col-md-6 pull-left">
                                        <a class="btn btn-primary btn-sm">Go</a>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Conductor <small></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <div class="row top_tiles" style="margin: 10px 0;">
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon"><i class="fa fa-users"></i></div>
                                    <div class="count">0</div>

                                    <h3></h3>
                                    <p>Red Notice Conductor.</p>
                                </div>
                            </div>
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon"><i class="fa fa-user-secret"></i></div>
                                    <div class="count">0</div>

                                    <h3></h3>
                                    <p>Highest Number of Complaint.</p>
                                </div>
                            </div>
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon"><i class="fa fa-user-plus"></i></div>
                                    <div class="count">0</div>
                                    <h3></h3>
                                    <p>Highest Number of Points.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row top_tiles" style="margin: 10px 0;">
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon"><i class="fa fa-user"></i></div>
                                    <div class="count">0</div>
                                    <p>Best Conductor of the Months.</p>
                                    <input id="conMonth" type="text" placeholder="MM/DD/YYYY" class="form-control fc-datepicker hasDatepicker" />
                                    <br />
                                    <a class="btn btn-primary btn-sm">Go</a>
                                </div>
                            </div>

                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="tile-stats">
                                    <div class="icon"><i class="fa fa-user"></i></div>
                                    <div class="count">0</div>
                                    <p>Best Conductor of the Year.</p>
                                    <input id="conYear" type="text" placeholder="MM/DD/YYYY" class="form-control fc-datepicker hasDatepicker" />
                                    <br />
                                    <a class="btn btn-primary btn-sm">Go</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /page content -->


<script src="~/Scripts/ntc/dashboardDetails.js"></script>