
@{
    ViewBag.Title = "Add Compian";
}

<!-- page content -->
<div class="right_col" role="main" id="complain">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Complain Management</h3>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Add Complain</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="col-md-6">
                            <div class="form-horizontal form-label-left">
                                <h5>Complain Detials</h5>
                                <div class="x_content">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Complain No<span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" placeholder="" v-model="complainVm.complainNo" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Bus No<span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" placeholder="Enter Bus No" v-model="complainVm.bus.busNo" v-on:change="getBusDetails(complainVm.bus.busNo)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Route No<span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" placeholder="Enter Route No" readonly="readonly" v-model="complainVm.bus.route.routeNo">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1 col-sm-1 col-xs-12">From</label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" class="form-control" placeholder="" readonly="readonly" v-model="complainVm.bus.route.from">
                                        </div>
                                        <label class="control-label col-md-1 col-sm-1 col-xs-12">To</label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" class="form-control" placeholder="" readonly="readonly" v-model="complainVm.bus.route.to">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Place of Complain</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" placeholder="Enter Place of Complain" v-model="complainVm.place">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Complain Date</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input id="dateComplain" type="text" placeholder="MM/DD/YYYY" class="form-control fc-datepicker hasDatepicker" v-model="complainVm.complainDate">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Method</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <select class="form-control" v-model="complainVm.method">
                                                <option value="Online" selected="selected" >Online</option>
                                                <option value="Email">Email</option>
                                                <option value="Over the Phone">Over the Phone</option>
                                            </select>
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Complain Time</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" placeholder="Enter Complain Time">
                                        </div>
                                    </div>*@
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Complainer Name</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" placeholder="Enter Complainer Name" v-model="complainVm.complainerName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Complainer Address</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" placeholder="Enter Complainer Address" v-model="complainVm.complainerAddress">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Complainer TEl No</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" placeholder="Enter Complainer TEl No" v-model="complainVm.telNo">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Complainer Participating Inquiry</label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="checkbox" class="form-control" v-model="complainVm.isInqueryParticipation">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Availability of written evidence</label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="checkbox" class="form-control" v-model="complainVm.isEvidenceHave">
                                        </div>
                                    </div>                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Evidence for complain</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @*<div id="item-img" v-show="!isResultShow"></div>
                                            <div id="item-img-result" v-show="isResultShow" class="mg-t-10"></div>*@
                                            <input id="evidence" type="file" class="form-control">
                                            @*<button type="button" id="cropImage" class="btn btn-default"><i class="fa fa-crop"></i>  Crop</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <h5>Complain Category</h5>
                                <div class="x_content">
                                    <div class="form-group" v-for="category in categoryList">                                        
                                        <div class="col-md-2 col-sm-2">
                                            <input type="checkbox" class="form-control" v-model="category.isSelected">
                                        </div>
                                        <label class="control-label col-md-6 col-sm-6 col-xs-12">{{category.description}}</label>
                                    </div>  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-4"><label class="control-label">Complain Description</label></div>
                                    <div class="col-md-7 col-sm-7">
                                        <textarea type="text" class="form-control" placeholder="Enter Complain Description" rows="3" v-model="complainVm.description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 pull-right">
                                <button class="btn btn-primary" v-on:click="addComplain">Add Complain</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

@*Start Alert*@

<div aria-labelledby="myModalLabel" role="dialog" id="alertModal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-val">
        <div class="modal-content">
            <div class="modal-header" v-bind:class="{'alert-success' : isSuccess, 'alert-danger' : !isSuccess}">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="bold-700">{{header}}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12" id="alertInfo">
                        <div class="alert rounded" id="alert">
                            <div class="icon center-block text-center"><i class="fa fa-4x" v-bind:class="{'fa-close' : !isSuccess, 'fa-check': isSuccess}"></i></div>
                            <span class="center-block text-center" id="alertMessage">{{alertMessage}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn" v-bind:class="{'btn-success' : isSuccess, 'btn-danger' : !isSuccess}" type="button" id="closeAlert"><i class="fa fa-times-circle"></i> Close</button>
            </div>
        </div>
    </div>
</div>

@*End Alert*@

<script src="~/Scripts/ntc/addcomplain.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.js"></script>
