
@{
    ViewBag.Title = "New Member";
}

<!-- page content -->
<div class="right_col" role="main" id="newMemeber">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>User Profile</h3>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Member Details</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div id="item-img" v-show="!isResultShow">

                                    </div>
                                    <div id="item-img-result" v-show="isResultShow">
                                        <img class="img-responsive avatar-view" src="~/Images/appimg/user.png" alt="Avatar" title="Change the avatar">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="btn btn-default">
                                    <i class="fa fa-picture-o"></i> Browse
                                    <input type="file" id="upload" accept="image/*" />
                                </label>
                                <button type="button" id="cropImage" class="btn btn-default"><i class="fa fa-crop "></i>  Crop</button>
                            </div>
                            @*<div class="profile_img">
                                    <div id="crop-avatar">
                                         Current avatar
                                        <img class="img-responsive avatar-view" src="~/Images/appimg/user.png" alt="Avatar" title="Change the avatar">
                                    </div>
                                </div>
                                <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i> Upload Image</a>*@
                            <br />
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="x_content">
                                <br />
                                <div class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Member Type<span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <select class="form-control" v-model="memeber.type">
                                                <option v-for="type in memeberTypeList" v-bind:value="type">{{type.code}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">NIC No<span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" placeholder="Enter NIC NO" v-model="memeber.nicNo">
                                            <small v-show="submitted && !memeber.nicNo" class="text-danger">NIC NO is Required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date of Birth<span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input id="dob" type="text" placeholder="MM/DD/YYYY" class="form-control fc-datepicker hasDatepicker" v-model="memeber.dob">
                                            <small v-show="!memeber.dob && submitted" class="text-danger">Date of Birth is Required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Full Name<span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input id="fullName" type="text" class="form-control" placeholder="Enter Full Name" v-model="memeber.fullName">
                                            <small v-show="submitted && !memeber.fullName" class="text-danger">Full Name is Required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Name With Initial</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" id="initial" class="form-control" readonly="readonly" v-model="memeber.nameWithInitial">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Permanet Address<span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <textarea class="form-control" rows="3" placeholder='Enter Permanet Address' v-model="memeber.permanetAddress"></textarea>
                                            <small v-show="submitted && !memeber.permanetAddress" class="text-danger">Permanet Address is Required</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Current Address</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <textarea class="form-control" rows="3" placeholder='Enter Current Address' v-model="memeber.currentAddress"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Training Cetificate No</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" placeholder="Enter Training Cetificate No" v-model="memeber.cetificateNo">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Training Center</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" placeholder="Enter Training Center" v-model="memeber.trainingCenter">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Driving Licence No</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" placeholder="Enter Driving Licence No" v-model="memeber.licenceNo">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Issued</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input id="dateIssued" type="text" placeholder="MM/DD/YYYY" class="form-control fc-datepicker hasDatepicker" v-model="memeber.dateIssued">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Validity</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input id="dateValidity" type="text" placeholder="MM/DD/YYYY" class="form-control fc-datepicker hasDatepicker" v-model="memeber.dateValidity">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Highest Education Qualification</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" placeholder="Enter Highest Education Qualification" v-model="memeber.educationQuali">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Joined</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input id="dateJoined" type="text" placeholder="MM/DD/YYYY" class="form-control fc-datepicker hasDatepicker" v-model="memeber.dateJoin">
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                            <button type="button" class="btn btn-primary">Cancel</button>
                                            <button type="button" class="btn btn-primary">Clear</button>
                                            <button type="button" class="btn btn-success" v-on:click="validate">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
@*Alert*@

<div aria-labelledby="myModalLabel" role="dialog" id="alertModal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-val">
        <div class="modal-content">
            <div class="modal-header" v-bind:class="{'alert-success' : isSuccess, 'alert-danger' : !isSuccess}">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="bold-700">{{header}}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12" id="alertInfo">
                        <div class="alert rounded" id="alert">
                            <div class="icon center-block text-center"><i class="fa fa-4x" v-bind:class="{'fa-close' : !isSuccess, 'fa-check': isSuccess}"></i></div>
                            <span class="center-block text-center" id="alertMessage">{{alertMessage}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn" v-bind:class="{'btn-success' : isSuccess, 'btn-danger' : !isSuccess}" type="button" id="closeAlert"><i class="fa fa-times-circle"></i> Close</button>
            </div>
        </div>
    </div>
</div>

@*End Alert*@


<script src="~/Scripts/ntc/addnewmember.js"></script>

