
@{
    ViewBag.Title = "Add Points";
}


<!-- page content -->
<div class="right_col" role="main" id="point">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Add Inquiry Report / De-Merit Point</h3>
            </div>
            <div class="title_right">
                
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2></h2>                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Record No</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" placeholder="Enter Record No" class="form-control" v-model="pointVm.deMeritNo" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Accredited Officer Name</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" placeholder="Enter Officer Name" class="form-control" v-model="pointVm.officer.name" v-on:change="getOfficerDetails(pointVm.officer.name)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Bus No</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" placeholder="Enter Bus No" class="form-control" v-model="pointVm.bus.busNo" v-on:change="getBusDetail(pointVm.bus.busNo)">
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <br />
                        @*<div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Driver No</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" placeholder="Enter Driver No" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Conductor No</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" placeholder="Enter Conductor No" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Inquery Date</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input id="dateInquery" type="text" placeholder="MM/DD/YYYY" class="form-control fc-datepicker hasDatepicker" v-model="pointVm.inqueryDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @*<div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Inquery Time</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" placeholder="Enter Inquery Time" class="form-control">
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <br />

                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Description</th>
                                    <th>Point</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="de in demeritList">
                                    <td>{{de.code}}</td>
                                    <td class="" v-bind:class="de.colorCode == '1' ? 'red' : de.colorCode == '2' ? 'green' : de.colorCode == '3' ? 'purple' : 'blue'">{{de.description}}</td>
                                    <td>
                                        <input type="checkbox" class="form-control" v-model="de.isSelected" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button class="btn btn-primary" v-on:click="addPoints">Add Point</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

@*Start Alert*@

<div aria-labelledby="myModalLabel" role="dialog" id="alertModal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-val">
        <div class="modal-content">
            <div class="modal-header" v-bind:class="{'alert-success' : isSuccess, 'alert-danger' : !isSuccess}">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="bold-700">{{header}}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12" id="alertInfo">
                        <div class="alert rounded" id="alert">
                            <div class="icon center-block text-center"><i class="fa fa-4x" v-bind:class="{'fa-close' : !isSuccess, 'fa-check': isSuccess}"></i></div>
                            <span class="center-block text-center" id="alertMessage">{{alertMessage}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn" v-bind:class="{'btn-success' : isSuccess, 'btn-danger' : !isSuccess}" type="button" id="closeAlert"><i class="fa fa-times-circle"></i> Close</button>
            </div>
        </div>
    </div>
</div>

@*End Alert*@

<script src="~/Scripts/ntc/addpoint.js"></script>