@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NTC | Login </title>
    <!-- Bootstrap -->
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/Content/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.0/vue-resource.min.js"></script>

</head>
<body class="login">
    <div>
        <div class="login_wrapper" id="loginForm">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>
                        <h1>Login Form</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" v-mode="userModel.userName" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" v-mode="userModel.password" />
                        </div>
                        <div>
                            <button class="btn btn-default submit" v-on:click="login">Log in</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">                            
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><img src="~/Images/appimg/ntc-logo.jpg" height="150" width="150" /></h1>
                                <p>©2018 All Rights Reserved. National Transport Commission</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>            
        </div>
    </div>

    <script src="~/Scripts/ntc/usermanager.js"></script>
</body>
</html>